[opencode]
default_workspace = "test-chatops"
default_agent = "plan"
default_providerID = "deepseek"
default_modelID = "deepseek-v4-pro"

[opencode.workspaces.test-chatops]
path = "/Users/roxy/Documents/workspace/test-chatops"

[opencode.workspaces.test-chatops-copy]
path = "/Users/roxy/Documents/workspace/test-chatops-copy"
